<% if message.errors.any? %> 
    <div id="error_explanation">
    <ul>
        <% message.errors.full_messages.each do |error_msg| %>
            <li><%= error_msg %></li>
        <% end %>
    </ul>
    </div>
<% end %>

<%= form_for(message) do |form| %> 
    <div class="field">
        <%= form.label :content %>
        <%= form.text_field :content %>
    </div>
    <div class="actions">
        <%= form.submit "Submit" %>
    </div>
<% end %>