<% if message.errors.any? %> 
    <div id="error_explanation">
    <ul>
        <% message.errors.full_messages.each do |error_msg| %>
            <li><%= error_msg %></li>
        <% end %>
    </ul>
    </div>
<% end %>

<%= form_for(message) do |form| %> 
    <div class="form-group">
        <%= form.label :content %>
        <%= form.text_area :content, class: 'form-control' %>
    </div>
    <div class="actions">
        <%= form.submit "Submit", class: 'btn btn-primary' %>
    </div>
<% end %>