<div class="container mt-4">
  <div class="row">
    <div class="col-12 col-sm-6">
      <h1> List of all messages </h1>
    </div>
    <div class="col-12 col-sm-6 text-right">
      <%= link_to 'New message', new_message_path, class: 'cvierkacz-button-green ml-2' %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= paginate @messages %>
    </div>
  </div>
  <div class="row">
    <% @messages_array.each do |message| %>
      <div class="col-12 col-sm-6 col-lg-4 mt-4">
        <div class="card">
          <div class="card-img-top text-center">
            <% if message.photo.attached? %>
              <%= image_tag message.photo, class: 'img-fluid' %>
            <% else %>
              <%= image_tag('Funny-Cat-Jokes2.jpg', class: 'img-fluid') %>
            <% end %>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div class="avatar-40">
                  <% if message.user.avatar.attached? %>
                    <%= image_tag message.user.avatar.variant(resize: "200x200") %>
                  <% else %>
                    <%= image_tag('default-avatar.png') %>
                  <% end %>
                  <p class="author">
                    <% if message.user.first_name.blank? && message.user.last_name.blank? %>
                      <%= message.user.email %>
                    <% else %>
                      <%= message.user.first_name %> <%= message.user.last_name %>
                    <% end %>
                  </p>
                  <p class="message-date">Published on: <%= message.day_of_week %> </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <h2> <%= message.content %> </h2>
              </div>
            </div>
            <div class="row">
              <div class="col-12 text-right">
                <%= link_to 'Show', message, class: 'cvierkacz-button-outline cvierkacz-button-small' %>
                <% if policy(message).edit? %>
                  <%= link_to 'Edit', edit_message_path(message.id), class: 'cvierkacz-button-outline cvierkacz-button-small' %>
                <% end %>
                <% if policy(message).destroy? %>
                  <%= link_to 'Delete', message, data: { confirm: "Are you sure?" }, method: :delete, class: 'cvierkacz-button-outline-red cvierkacz-button-small' %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="card-footer text-right">
           <%= link_to 'Comments: ' + message.comments.count.to_s, comments_path({message_id: message.id}), class: 'mr-2' %>
           <%= link_to 'Comment', new_comment_path({message_id: message.id}), class: 'cvierkacz-button cvierkacz-button-small' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>