<h1><%= @message.content %></h1>
<h5><%= @message.author %></h5>

<h3>Comments</h3>
<%= render partial: 'comments', collection: @message.comments, as: :comment %>
<%= link_to 'Edit message', edit_message_path(@message.id) %> <br>
<%= link_to 'Back to all messages', messages_path %>
