<% if comment.errors.any? %> 
    <div id="error_explanation">
    <ul>
        <% comment.errors.full_messages.each do |error_msg| %>
            <li><%= error_msg %></li>
        <% end %>
    </ul>
    </div>
<% end %>

<%= form_for(comment) do |form| %> 
    <div class="form-group">
        <%= form.label :content %>
        <%= form.text_area :content, class: 'form-control' %>
    </div>
    <%= form.hidden_field :message_id %>
    <div class="actions">
        <%= form.submit "Submit", class: 'cvierkacz-button' %>
    </div>
<% end %>