<div class="container mt-4">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2">
      <% if @message_id.nil? %>
        <%= link_to 'Back to all messages', messages_path, class: 'cvierkacz-button-dark' %>
        <%= link_to 'See all comments', comments_path, class: 'cvierkacz-button-dark' %>
        <h1 class="mt-4">List of all comments</h1>
      <% else %>
      <%= link_to 'Back to all messages', messages_path, class: 'cvierkacz-button-dark' %>
      <%= link_to 'See all comments', comments_path, class: 'cvierkacz-button-dark' %>
      <%= link_to 'Back to the message', Message.find(@message_id), class: 'cvierkacz-button' %>
        <h1 class="mt-4">List of all comments for message: <%= @message_id %> </h1>
      <% end %>
      <ul class="list-group">
        <% @comments.each do |comment| %>
        <li class="list-group-item">
          <div class="row">
            <div class="col-6 col-md-8 word-wrap">
              <div class="avatar-30 d-table-cell">
                <% if comment.user.picture.present? %>
                  <%= image_tag(comment.user.picture.url) %>
                <% else %>
                  <%= image_tag('default-avatar.png') %>
                <% end %>
              </div>
              <span class="d-table-cell">
                <strong>
                  <% if comment.user.first_name.blank? && comment.user.last_name.blank? %>
                    <%= comment.user.email %>
                  <% else %>
                    <%= comment.user.first_name %> <%= comment.user.last_name %>
                  <% end %>
                  :
                </strong>
                <%= comment.content %>
              </span>
            </div>
            <div class="col-6 col-md-4 text-right">
              <%= link_to 'Show', comment, class: 'cvierkacz-button cvierkacz-button-small' %>
              <% if comment.user == current_user %>
                <%= link_to 'Edit', edit_comment_path({ id: comment.id }), class: 'cvierkacz-button-dark cvierkacz-button-small' %>
                <%= link_to 'Delete', comment, method: :delete, class: 'cvierkacz-button-red cvierkacz-button-small' %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-secondary">
              <p class="comment-date"><%=  comment.created_at.in_time_zone("CET").strftime("%F %T") %></p>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>