<h1>List of all comments</h1>
<table style="padding: 5px;border: 1px #999999 solid; color: #606060; text-align: center;">
  <tr>
    <td>Content</td>
    <td>Author</td>
    <td>Action</td>
  </tr>
  <% @comments.each do |comment| %>
    <tr>
      <td> <%= comment.content %> </td>
      <td> <% if comment.user.first_name.blank? && comment.user.first_name.blank? %> 
              <%= comment.user.email %>
           <% else %>
              <%= comment.user.first_name %> <%= comment.user.last_name %>
           <% end %> 
      </td>
      <td> <%= link_to 'Show', comment %> 
      <% if comment.user == current_user %> 
        | <%= link_to 'Delete', comment, method: :delete %> </td>
      <% end %>
    </tr>
  <% end %>
</table>